html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  box-sizing: inherit;

  --primary-grey: #dce0e6;
  --primary-blue: #4b9be6;
  --gold: #f3b329;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;

  min-height: 100vh;

  background-color: var(--primary-grey);
}

img {
  width: 50px;
  height: 50px;

  flex-shrink: 0;

  object-fit: cover;

  border-radius: 100%;
}

.sidebar {
  position: relative;

  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 30px;

  color: #ffffff;
  background-color: var(--primary-blue);
}

.sidebar .title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar .title:hover {
  cursor: pointer;
}

.sidebar .title i {
  font-size: 40px;
}

.sidebar .title h1 {
  font-size: 30px;
}

.sidebar ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 10px;

  font-size: 20px;
  font-weight: bold;
}

.sidebar li {
  display: flex;
}

.sidebar li i {
  width: 35px;
}

.sidebar li p:hover {
  cursor: pointer;
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px 50px;

  background-color: #ffffff;
  box-shadow: 0 0 10px 0 #949494;

  font-weight: bold;
}

header > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

header i {
  font-size: 20px;
}

header .search_bar {
  border: none;
  flex-grow: 1;

  max-width: 700px;
  min-width: 150px;
  height: 30px;

  padding: 10px 15px;

  border-radius: 50px;
  background-color: var(--primary-grey);
}

header .search_bar:focus {
  outline: 2px solid var(--primary-blue);
}

header button.notifications {
  appearance: none;
  border: none;

  width: 40px;
  height: 40px;

  margin-left: auto;
  background-color: transparent;
}

header button.notifications i {
  font-size: 25px;
}

header button.notifications:hover {
  cursor: pointer;
}

header .first_row p {
  font-size: 18px;
}

header .second_row img {
  width: 70px;
  height: 70px;
}

header .second_row .hello_user {
  height: 50px;
}

header .second_row .hello_user p:first-of-type {
  font-size: 15px;
}

header .second_row .hello_user p:last-of-type {
  font-size: 23px;
  margin-top: 2px;
}

header .second_row ul {
  list-style-type: none;

  display: flex;
  align-items: center;
  gap: 30px;

  margin-left: auto;
}

header .second_row ul button {
  appearance: none;
  border: none;

  width: 120px;
  height: 40px;

  font-weight: bold;
  font-size: 16px;

  color: #ffffff;
  background-color: var(--primary-blue);

  border-radius: 50px;
  transition: all .1s;
}

header .second_row ul button:hover {
  cursor: pointer;
  transform: scale(1.05);

  background-color: #6fb8fc;
}

main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;

  padding: 30px 20px;
}

.projects {
  grid-row: 1 / 3;
}

.projects .articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;

  min-height: 680px;

  margin-top: 20px;
}

.projects article {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 30px 20px;

  border: solid var(--gold);
  border-width: 0 0 0 10px;
  border-radius: 10px;

  background-color: #ffffff;
}

.projects article p {
  margin-right: 50px;
}

.projects .actions {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-left: auto;
  margin-top: auto;

  font-size: 20px;
}

.projects .actions a {
  color: #000000;
}

.projects .actions a:hover {
  cursor: pointer;
  color: var(--gold);
}
